<!DOCTYPE html>

<html>
    <head>
        <title>Sailormoonstuff</title>
    </head>
    
    <h1>Sailor Moon</h1>
    <p>
       <div>
           <img src= "https://media.giphy.com/media/3oEjHTazrdiQeYaR68/giphy.gif" height = 300 ></img>
           <img src= "https://media.giphy.com/media/jm1FHobATa920/giphy.gif" height = 300></img>
           <img src= "https://media.tenor.com/images/44c475ef3cebfe91a640e7ac85b4f055/tenor.gif" height = 300></img>
           
       </div> 
        
    </p>
    
    
    
</html>